name: Build and Release APK

on:
  push:
    tags:
      - "*"  # 仅当有标签推送时触发构建
  workflow_dispatch:  # 允许从 Actions 页面手动触发工作流

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 检出仓库代码
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  # 使用 GITHUB_TOKEN 进行身份验证

      # 设置 Java 环境
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      # 构建 APK
      - name: Build APK
        run: ./gradlew assembleRelease --no-daemon

      # 安装 Android 工具 (zipalign 和 apksigner)
      - name: Install android tools
        run: |
          sudo apt-get update
          sudo apt-get install zipalign apksigner

      # 签名 APK
      - name: Sign APK
        run: |
          cd app/build/outputs/apk/full/release/
          echo "$APK_RELEASE_KEY_BASE64" | base64 -d > release-key.jks
          zipalign -v -p 4 app-full-release-unsigned.apk app-full-release-unsigned-aligned.apk
          apksigner sign --ks release-key.jks --ks-pass pass:"$APK_RELEASE_KEY_PASSWORD" --out "aaps-${{ github.ref_name }}.apk" app-full-release-unsigned-aligned.apk
        env:
          APK_RELEASE_KEY_BASE64: ${{ secrets.APK_RELEASE_KEY_BASE64 }}
          APK_RELEASE_KEY_PASSWORD: ${{ secrets.APK_RELEASE_KEY_PASSWORD }}

      # 获取所有标签
      - name: Fetch all tags
        run: |
          git fetch --tags

      # 发布签名的 APK 文件到 GitHub Releases
      - name: Release APK
        uses: softprops/action-gh-release@v2
        with:
          files: app/build/outputs/apk/full/release/aaps-${{ github.ref_name }}.apk
          token: ${{ secrets.GITHUB_TOKEN }}
